@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','sans-serif';
  scroll-behavior: smooth;
}

/* #33cdd7  */

@font-face {
  font-family: peace-sans;
  src: url(Peace\ Sans.otf);
  font-style: normal;
  font-weight: 100;
}
body {
  position: relative;
  height: 200vh;
  width: 100%;
  transition: 0.5s;
  left: 0;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 70px;
  background-color: #202020;
  /* background-color: transparent; */
  overflow: hidden;
  transition: 0.4s;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}

.trigger {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 20px;
  width: 30px;

  border: none;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  
}
.trigger.is-active {
}
.trigger .burger {
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: #32a6b6;
  transition: 0.3s;
}

.trigger.is-active .burger:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: red;
}
.trigger.is-active .burger:nth-child(2) {
  opacity: 0;
}
.trigger.is-active .burger:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: red;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  
}

.front {
  height: 100vh;
  background-color: #171717;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 40px;
}
.front h1 {
  padding: 10px 0;
  margin-bottom: 20px;
}
.front h1 span {
  font-family: peace-sans;
  font-weight: 200;
  font-size: 40px;
}
h1 span:nth-child(1) {
  font-size: 35px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.name {
  color: white;
  font-weight: 100;
}
.about {
  padding: 15px 10px 15px 20px;
  background-color: transparent;

  border: 1px solid #32a6b6;
  outline: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: left;
  font-weight: 200;
  color: white;
  transition: 0.4s;
  backdrop-filter: blur(2px);
}
.about:hover {
  background-color: #32a6b6;
}
.about a {
  font-size: 1rem;
  margin: 0 15px;
}
.second {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 20% 10%;
}
.overlay {
  position: absolute;
  top: 4%;
  left: -5%;
  font-size: 65px;
  font-family: peace-sans;
  color: rgba(23, 23, 23, 0.14);
}
.title {
  position: relative;
  font-weight: 5;
  font-size: 30px;
  font-family: peace-sans;
  color: #404040;
  width: 200px;
}
.title-adjust{
  padding-top: 10px;
}
.title::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 60px;
  background-color: #32a6b6;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: -25%;
  left: 0;
}
.myDescription {
  position: relative;
  top: 15%;
  left: -15%;
  height: 80%;
  width: 90%;
  /* border: 1px solid #32a6b6; */
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px lightgray;
}
.myDescription .profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -50px;
/*  border: 8px solid white;*/
  border: 5px outset #ffa726 ;
  box-shadow: 0 0 10px 2px lightgray;
  
}
.myDescription p {
  font-weight: 10;
  font-size: 16px;
  padding: 0px 30px 20px 30px;
  text-align: left;
  height: 100%;
  color: #171717;
}
.myDescription h1{
  font-size: 20px;
  padding: 50px 30px 20px 30px;
}
.line {
  width: 70%;
  height: 3px;
  background-color: rgba(23, 23, 23, 0.14);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.third {
  min-height: 100vh;
  width: 100%;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 20% 10% 5% 10%;

  background-color: #fff;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;

  flex-wrap: wrap;
  width: 100%;
  /* background-color: red; */
  margin: 90px 0 0 0;
  padding: 30px 0 0 0;
}
.card-container .interest-cards {
  position: relative;
  width: 200px;
  height: 250px;
  box-shadow: 0 5px 5px 0px lightgray;
  margin-bottom: 25px;
  border-radius: 10px;
  
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .3s ease;
}
.card-container .interest-cards:hover {
  box-shadow: 0 10px 10px 0px lightgray;
  transform: translateY(-3%);
  border: 2px solid #ffa726;
/*  width: 190px;
  height: 240px;
  */
}
.card-container .interest-cards a {
  color: rgba(0,0,0,0.3);
  transition: 0.2s linear;
  margin: 0 0 20px 0;
}
.card-container .interest-cards:hover a {
  transform: scale(1.5) ;
  color: #171717;
}
.card-container .interest-cards:hover .interest-text {
  transform: scale(1.1);
  font-weight: 600;
  transition: .3s;
  color: #171717;
}

.card-container .interest-cards::before {
  content: "";
  top: -77%;
  position: absolute;
  background-color: rgba(23, 23, 23, 0.5);
  width: 200px;
  height: 200px;
  transition: 0.3s linear;
}


.card-container .interest-cards:hover::before { 
  top: -65%;
  background-color: #ffa726;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
 } 
.interest-text {
  font-family: arial;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}
