* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: arial;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s ease;
}

.contactButton {
  position: relative;
  /* bottom:5%; */
  /* left: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #212121;
  border-radius: 100px;
  transition: 0.5s;
}

.trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 50%;
  transition: 0.3s;
  outline: none;
  border: none;
}
/* .btn { */
/* position: absolute; */
/* top: 20px; */
/* left: 20px; */
/* padding: 20px; */
/* } */
.trigger:hover {
  background-color: #464646;
}
.social {
  height: 0px;
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6rem;
  color: lightgray;
  border-radius: 50%;
  border: 1px solid lightgray;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.3s;
  flex-direction: row;
  outline: none;
}
#social {
  color: lightgray;
  font-size: 2rem;
  transition: 0.5s;
}

.social:hover {
  color: #4481eb;
  border-color: #4481eb;
  transition: 0.5s;
}
#exit {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: #212121;
  border: none;
  outline: none;
  border-radius: 50%;
  margin-left: -95px;
  font-family: arial;
  color: red;
  font-weight: bolder;
  font-size: 15px;
  z-index: -1;
  transition: 0.5s;
}

/*
Mobile Settings
*/

@media screen and (max-width: 400px) {
  body {
    height: max-content;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);

    transition: 0.3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
  }
  .main-container {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 0px 20px 0px;
  }

  .titlePage {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    /*background-color: #323232;*/

    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 15px 0px gray;

    display: flex;
    justify-content: left;
    align-content: center;
    z-index: 1;
  }
  .titlePage .header {
    padding: 5px 10px;
    font-size: 20px;
    align-self: center;
    color: #ffac41;
    /*
    border: 1px solid #ffac41;
    */
    border-radius: 10px;
    margin-left: 20px;
    /*background-color: #202020;*/
    backdrop-filter: blur(5px);
    background-color: rgba(20, 20, 20, 0.7);
  }
  .intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    height: 200px;
    color: #212121;
    background-color: lightgreen;
  }
  span:nth-child(1) {
    font-weight: 10;
  }
  span:nth-child(2) {
    font-weight: bold;
  }
  h1 .title {
    font-size: 15px;
    font-weight: 10;
    color: rgba(0, 0, 0, 0.7);
  }
  .intro .name-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
  }

  .intro .name-container h1 {
    font-size: 20px;
  }
  .intro .model-icon {
    width: 30%;
    height: 60%;
    background-color: white;
  }

  hr {
    width: 90%;
    align-self: center;
    height: 0.5px;
    margin: 10px 0;
  }
  .main-container .sectionHeader {
    margin-left: 20px;
    font-weight: 20;
    font-size: 20px;
  }

  .skillSection {
    /* position: relative; */
    width: 100%;
    height: max-content;
  }

  .main-container .skills {
    padding: 20px;

    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 0px;
  }
  .skills .list-skill {
    border-radius: 50px;
    color: white;
    background-color: #323232;
    width: max-content;
    height: max-content;
    margin-top: 5px;
    font-size: 10px;
    padding: 10px 15px;
    margin-left: 10px;
  }

  .works {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .works .card {
    height: max-content;
    width: 90%;
    background-color: white;
    box-shadow: 0px 3px 10px 0px lightgray;
    align-self: center;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s;
    padding: 20px;
  }

  .card h3,
  .card p {
    color: #323232;
  }
  .card h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .card p {
    font-weight: 200;
  }
  .img {
    margin-top: 20px;
    width: 100%;
  }

  .contactButton {
    position: fixed;
    bottom: 30px;
    left: 30px;
    height: 65px;
    width: 65px;
    box-shadow: 0px 0px 5px 1px black;

    /* topmost layer */
    z-index: 10000000;
  }
  .trigger {
    height: 65px;
    width: 65px;
  }
  .social {
    margin: 0 1px;
    border-radius: 50%;
    outline: none;
    border: 1px solid lightgray;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
    padding: 2px;
  }
  #social {
    font-size: 1rem;
  }
  #exit {
    height: 0px;
    width: 0px;
    background-color: #212121;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-left: -95px;
    font-family: arial;
    color: red;
    font-weight: bolder;
    font-size: 7px;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
  }

  /* STYLE FOR SLIDING CARDS */

  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    width: 85%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    border-radius: 15px;
  }
  .slidingInfo .image {
    height: 150px;
    width: 150px;
    box-shadow: 0 3px 10px 0px #212121;
    margin-bottom: 30px;
    border-radius: 50%;
  }
  .slidingInfo .title {
    width: 70%;
    background: none;
    border-left: none;
    border-top: 5px double lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .slidingInfo .title h1 {
    text-align: center;
    font-size: 30px;
    color: white;
  }
  .slidingInfo .title h2 {
    text-align: center;
    font-size: 15px;
    color: lightgray;
  }
  /*newly added*/

  .slidingInfo {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -9999;

    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cardContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 0 0 70px 0;
    height: 40%;
    width: 100%;
    /* background-color: #ffac41; */
  }

  /* Main card */
  .slidingCards {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin-bottom: 50px;
    /* backdrop-filter: blur(10px);*/
    border-radius: 20px 20px 20px 0px;
    /* border: 2px solid #25d366; */
  }
  .greetings {
    /* height: max-content; */
    width: 85%;
  }
  .slidingCards p {
    color: lightgray;
    font-weight: 20;
  }
  @keyframes attention {
    0% {
      box-shadow: 0px 0px 70px 5px #25d366;
    }
    100% {
      box-shadow: 0px 0px 0px 0px #4afc8d;
    }
  }

  #html {
    position: relative;
    background-color: #e64a19;
  }

  #css {
    position: relative;
    background-color: #3f51b5;
  }
  #js {
    position: relative;
    background-color: #ffa726;
  }

  /*
 #html::after{
 position:absolute;
 top:0;
 left:0;
 	content:"";
 	width: 250px;
 	margin-left: 25px;
 	background-color: #323232;
 	border-radius: 50px;
 	padding: 16px;
 	z-index: -10;
 }
 #css::after{
 position:absolute;
 top:0;
 left:0;
 content:"";
 width: 250px;
 margin-left: 25px;
 background-color: #323232;
 border-radius: 50px;
 padding: 16px;
 z-index: -10;
 
 }
 #js::after{
 position:absolute;
 top:0;
 left:0;
 content:"";
 width: 250px;
 margin-left: 25px;
 background-color: #323232;
 border-radius: 50px;
 padding: 16px;
 z-index:-10;
 }
 */
}
