* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  scroll-behavior: smooth;
}

/* #33cdd7  */

@font-face {
  font-family: peace-sans;
  src: url(Peace\ Sans.otf);
  font-style: normal;
  font-weight: 100;
}
body {
  position: relative;
  height: 200vh;
  width: 100%;
  transition: 0.5s;
  left: 0;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 90px;
  height: 80px;
  background-color: transparent;
  overflow: hidden;
  transition: 0.4s;
  /* border-radius: 50%; */
  /* backdrop-filter: blur(5px); */
  /* box-shadow: 0 0 0px 2px #33cdd7; */
}

.trigger {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 20px;
  width: 30px;

  border: none;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  z-index: 9999999;
}
.trigger.is-active {
}
.trigger .burger {
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: #32a6b6;
  transition: 0.3s;
}

.trigger.is-active .burger:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: red;
}
.trigger.is-active .burger:nth-child(2) {
  opacity: 0;
}
.trigger.is-active .burger:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: red;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.front {
  height: 100vh;
  background-color: #171717;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 40px;
}
.front h1 {
  padding: 10px 0;
}
.front h1 span {
  font-family: peace-sans;
  font-weight: 200;
  font-size: 40px;
}
h1 span:nth-child(1) {
  font-size: 35px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.name {
  color: white;
  font-weight: 100;
}
.about {
  padding: 15px 10px 15px 20px;
  background-color: transparent;

  border: 1px solid #31cdd7;
  outline: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: left;
  font-family: arial;
  font-weight: 200;
  color: white;
  transition: 0.4s;
  backdrop-filter: blur(2px);
}
.about:hover {
  background-color: #32a6b6;
}
.about a {
  font-size: 1rem;
  margin: 0 15px;
}
.second {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 20% 10%;
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 4%;
  left: -5%;
  font-size: 65px;
  font-family: peace-sans;
  color: rgba(23, 23, 23, 0.14);
}
.title {
  position: relative;
  font-weight: 5;
  font-size: 30px;
  font-family: peace-sans;
  color: #404040;
  width: 200px;
}
.title::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 60px;
  background-color: #32a6b6;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: -25%;
  left: 0;
}
.myDescription {
  position: relative;
  top: 15%;
  left: -15%;
  height: 80%;
  width: 90%;
  /* border: 1px solid #32a6b6; */
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px lightgray;
}

.second p {
  font-weight: 10;
  font-size: 15px;
  padding: 20px 30px;
  text-align: left;
  height: 100%;
}
hr {
  width: 70%;
}
.third {
  height: 100vh;
  width: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 20% 10%;
  z-index: -1;
}

.card-container {
  display: flex;
  justify-content: center;
  align-content: center;

  flex-wrap: wrap;
  width: 100%;
  /* background-color: red; */
  margin: 50px 0;
  padding: 30px 0;
}
.card-container .interest-cards {
  position: relative;
  width: 200px;
  height: 250px;
  box-shadow: 0 5px 5px 0px lightgray;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card-container .interest-cards::before {
  content: "";
  top: -98%;
  position: absolute;
  background-color: #ffa726;
  width: 100%;
  height: 100%;
}