html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 122, 67, 0.6);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

/* Thin */
@font-face {
  font-family: Montserrat-Thin;
  src: url(font/Montserrat-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}
/* ExtraLight */
@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(font/Montserrat-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
/* Light */
@font-face {
  font-family: Montserrat-Light;
  src: url(font/Montserrat-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
/* Regular */
@font-face {
  font-family: Montserrat-Regular;
  src: url(font/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
/* Medium */
@font-face {
  font-family: Montserrat-Medium;
  src: url(font/Montserrat-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
/* Semi-Bold */
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(font/Montserrat-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
/* Bold */
@font-face {
  font-family: Montserrat-Bold;
  src: url(font/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
/* Extra-Bold */
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(font/Montserrat-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}
/* Black */
@font-face {
  font-family: Montserrat-Black;
  src: url(font/Montserrat-Black.ttf);
  font-style: normal;
  font-weight: 900;
}

body {
  height: 100vh;
  width: 100vw;
  /* background: url('img/ink.jpg');
		background-position: center;
		background-size: cover;
	 */
  background-image: linear-gradient(120deg, #f6d365, #d88771);
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
	body::before {
		content: "";
		position: absolute;
		top: -200px;
		left: -200px;
		border-radius: 50%;
		height: 600px;
		width: 600px;
		background-color: #ec407a;
	} */
.container {
  height: 90%;
  width: 70%%;

  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 0.25fr 2fr;
  overflow: hidden;
}

/* First Container */
.addToDoList {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-right: 1px solid lightgray;
}
.desc {
  font-family: Montserrat-Bold;
  place-self: center;
}

.profile {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: end center;
  margin-bottom: 10px;
}
.labelWrap {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;

  border: 3px solid white;
  box-shadow: 0 0 0 3px #2885f8;
}
.profile-pic img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.popup-menus {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
  place-items: end center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 20px;
}
.menus {
  height: 40px;
  width: 40px;
  border-radius: 30%;
  border: none;
  outline: none;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease;
  backdrop-filter: blur(3px);
}
.menus:hover {
  transform: scale(1.2);
}
.menus:nth-child(1) {
  color: #179c52;
  background-color: rgba(23, 156, 82, 0.4);
}
.menus:nth-child(2) {
  color: #176bef;
  background-color: rgba(23, 107, 239, 0.3);
}
.menus:nth-child(3) {
  color: #f7b529;
  background-color: rgba(241, 181, 41, 0.3);
}
.trash {
  color: #ff3e30;
  background-color: rgba(255, 62, 48, 0.3);
  /* visibility: hidden; */
  animation: none;
}
/* .trash.dlt {	
		visibility: visible;
		animation: .3s pop;
	} */
@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Second Container */
.todoListItems {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
  background-color: #eee;
}

.header {
  padding-left: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  place-items: end start;

  grid-template-areas:
    "searchBox taskCount"
    "taskLine taskCategories";
}

h1 {
  color: #222;

  font-size: 3.3rem;
  font-family: Montserrat-Bold;

  grid-area: taskLine;
}

.input {
  height: 35px;
  width: 60%;
  position: relative;
  display: flex;
  justify-items: flex-start;
  align-items: flex-end;

  grid-area: searchBox;
}

/* This is the task counter */
.taskCount {
  place-self: center;
  grid-area: taskCount;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  padding: 0 10px 0 250px;
  font-family: Montserrat-Regular;
  display: flex;

  align-items: flex-end;
  justify-content: space-evenly;
}
.taskCount .taskCountContainer {
  display: flex;
  flex-direction: column;
}
.taskCount .taskCountContainer span {
  color: #ff6f47;
  font-weight: bold;
}

/* this is the filter */
.taskCategories {
  grid-area: taskCategories;

  height: 100%;
  width: 100%;

  padding: 0 10px 0 250px;
  font-family: Montserrat-Regular;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.filterContainer .filter-todo {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.filterContainer {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.filterContainer .filter-todo {
  color: #ff6f47;
  width: 12rem;
  height: 4rem;
  cursor: pointer;
  padding: 1rem;
  background-color: rgba(255, 111, 71, 0.3);
  font-family: Montserrat-Regular;
  transition: 0.3s linear;
}

.filterContainer::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
  height: 100%;
}

/* SEARCH BUTTON */
#search {
  position: absolute;
  left: 7.3%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  color: #176bef;
  pointer-events: none;
  z-index: 10;
}

#searchBox {
  border: 1px solid #909090;
  outline: none;
  background-color: transparent;
  border-radius: 50px;
  font-size: 1.2rem;
  height: 35px;
  width: 35px;
  font-family: Montserrat-Regular;
  transition: width 0.2s ease-in-out;
  cursor: pointer;
}
#searchBox.open {
  width: 100%;
  padding-left: 3.5rem;
  cursor: text;
  background-color: #ddd;
  border: none;
}

.todoListContainer {
  height: 450px;
  width: 100%;

  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 20px; */
  position: relative;
}
.containerSupp {
  height: 100%;
  overflow: scroll;
}

.note {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Montserrat-Regular;
	font-size: 1.5rem; 
	display: none;
        color: #ddd;

}
.taskList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.tasks {
  height: 175px;
  width: 170px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;

  font-size: 1.2rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

  position: relative;
  overflow: hidden;
  outline: none;
}

.task-anim {
  animation: 0.3s taskAnim linear;
}
@keyframes taskAnim {
  0% {
    transform: scale(0);
    place-self: center;
  }
  50% {
    transform: scale(1.3);
    place-self: center;
  }
  100% {
    transform: scale(1);
    place-self: center;
  }
}
/* 
.tasks.dltAnim {
		animation: .4s dltAnim linear;
	} */
@keyframes dltAnim {
  0% {
    opacity: 1;
    transform: scale(1);
    place-self: center;
   
  }
  30% {
    opacity: 0.7;
    transform: scale(1.1);
    place-self: center;
    
  }
  100% {
    opacity: 0;
    transform: scale(0);
    place-self: center;
   
  }
}
.tasks::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: #82c784; */
  background-color: mediumspringgreen;
}
.fa-edit {
  pointer-events: none;
}
.action-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-task {
  width: 20px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: gray;
  /* visibility: hidden; */
}
.edit-task.active {
}
.checkbox {
  /* visibility: hidden; */
}
/* .checkbox.on {
		visibility: visible;
	} */
.tsk-title {
  font-size: 1.8rem;
  font-family: Montserrat-SemiBold;
  margin-bottom: 10px;
  outline: none;
}
.tsk-desc {
  font-family: Montserrat-Regular;
  padding-left: 10px;
  border-left: 3px solid #ccc;
  outline: none;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* pointer-events: none;	 */
  display: none;
  z-index: 100;
}
.addTaskPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 300px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);

  /* background-color: #82c784;	 */
  /* backdrop-filter: blur(10px); */
  font-family: Montserrat-Regular;
  overflow: hidden;
}
.addTaskPopup.animate {
  animation: 0.1s windowAnimate ease-in-out;
}
@keyframes windowAnimate {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }
  60% {
    opacity: 0.6;
    height: 330px;
    width: 530px;
  }
  100% {
    opacity: 1;
    height: 300px;
    width: 500px;
  }
}

/* TO BE MODIFIED LATER */

.addTaskPopup::before {
  /* content: "Please add text on the task"; */
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -10;
  color: red;
  transition: 0.1s;
  padding-top: 5px;
  text-align: center;
}
.alert::before {
  border: 1px solid red;
  top: -20px;
}
.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding-top: 5px;
  /* background-color: #80cbc4; */
  background-color: rgba(23, 156, 82, 0.4);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
}
.popupHeader .popup-title {
  font-size: 2rem;
  color: #505050;
  /* color: #ff6f47; */
  font-family: Montserrat-Bold;
  text-align: center;
  width: 95%;
  padding-left: 25px;
}

.popupHeader .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ddd;
  color: #212121;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  outline: none;
}

.popupHeader .close-btn:hover {
  background-color: #ef9e9a;
  color: #ff3e30;
  transform: scale(1.2);
}
.popupContent {
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  padding: 20px;

  padding-bottom: 20px;
  opacity: 0;
  background-color: transparent;
  /* border-top-left-radius: 20px;
		border-top-right-radius: 20px; */
}
.popupContent.anim {
  opacity: 1;
  animation: 0.1s opacityAnim ease-in-out;
}
@keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.taskInputBoxes {
  display: grid;
  grid-template-rows: 0.4fr 1fr;
  align-items: center;
  height: 100%;
}

.task-title {
  font-size: 1.5rem;
}
.taskInputBoxes .title-input,
.taskInputBoxes .desc-input {
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  font-family: Montserrat-Medium;
  padding: 10px;
  transition: border 0.2s ease-in-out;
}
.title-input.clicked,
.desc-input.clicked {
  border-bottom: 1px solid mediumspringgreen;
}
.taskInputBoxes .title-input {
  font-size: 2rem;
}
.title-input::placeholder {
  opacity: 0.7;
  color: red;
  font-size: 1.5rem;
}
.desc-input::placeholder {
  color: red;
  opacity: 0.7;
}
.taskInputBoxes .desc-input {
  font-size: 1.5rem;
}

.popupContent .addTask-btn {
  place-self: end center;
  height: 30px;
  width: 60%;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #179c52;

  background-color: #ddd;
  font-family: Montserrat-Regular;
  font-weight: bold;

  transition: transform 0.1s ease;
  transform: scale(1);
}

.popupContent .addTask-btn:hover {
  color: #505050;
  /* background-color: #82c784; */
  background-color: rgba(23, 156, 82, 0.4);
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: -1;
}

/* DESKTOP HAVING 1400px width above */
@media only screen and (min-width: 1400px) {
  .container {
    height: 600px;
    width: 960px;
  }
}
/* DESKTOP VERSION */
@media only screen and (max-width: 1400px) and (min-width: 768px) {
  .container {
    height: 600px;
    width: 960px;
  }
}

/* TABLET VERSION */
@media only screen and (max-width: 768px) and (min-width: 400px) {
  /* ISOLATED AREA HAHHHA*/
}

/* MOBILE VERSION */
@media only screen and (max-width: 400px) {
  .container {
    height: 100%;
    width: 100%;

    border-radius: 0rem;
    display: grid;
    grid-template-columns: 0.25fr 3fr;
    overflow: hidden;
  }
  /* First Container */
  .addToDoList {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-right: 1px solid lightgray;
  }
}
